@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <form id="frm">
        <div>
            Numero OC
            <input type="text" class="NumeroOc" />
            F12
            <input type="text" class="F12" />
            <input type="button" class="btn btn-success" value="enter" />

        </div>
    </form>
</div>
<script>


</script>